<a name="home"></a>
<div class="first" data-magellan-destination="home">
	<div class="name">
		<p style="font-size: 60px;">ARUN UMAPATHY</p>
		<p class="subtext">Full-Stack Web Developer + Entrepreneur + DIYer</p>
	</div>
	<div class="arunimage">	
		<%= image_tag "arunhome.png" %>
	</div>
	<div class="whoami">
		<p style="font-family: 'Syncopate', sans-serif;">Who am I?</p>
		<div class="abouttab">
			<dl class="tabs" data-tab>
  			<dd class="active"><a href="#panel2-1">About Me</a></dd>
  			<dd><a href="#panel2-2">Interests</a></dd>
  			<dd><a href="#panel2-3">Work</a></dd>
  			<dd><a href="#panel2-4">Skills</a></dd>
  				<div class="tabs-content">
  					<div class="content active" id="panel2-1">
    					<p>I am from Chicago, IL, yes, i know, All of our sports teams are terrible, but we have some great micro-breweries! I now live in NYC and I have to be honest, this place is growing on me! Pizza on every corner...who can argue with that! I am a web developer, Entrepreneur and a DIYer.  I love taking things apart, putting it together, and building new projects.  Where do I see myself in 5 years? Well, I want to be a part of something truly special and unique all while pushing myself, the company I work for, and my insatiable thirst for knowledge to soaring new heights!</p>
  					</div>
  					<div class="content" id="panel2-2">
    					<p>So many interests... here are a few:</p>
    						<ul>
    							<li>Movies</li>
    							<li>Sports</li>
    							<li>Golfing</li>
    							<li>Traveling</li>
    							<li>Playing Piano</li>
    							<li>Bonsai</li>
    							<li>Saltwater Aquariums</li>
    							<li>New Gadgets</li>
    							<li>Web Development</li>
    							<li>Raspberry Pi</li>
    						</ul>
    						<p>Whoa, similar interests?! Let's talk!</p>
  					</div>
  					<div class="content" id="panel2-3">
    					<p>After college (Go Hoosiers!), I started working in Business Development.  I've consulted a number of different companies on everything from raising funds to the more mundane nuances of a start-up like legal docs and everything inbetween. I've even helped a start-up get to CES in 2011 and developed a whole marketing strategy on how to gain the attention of decision makers to view their products!  Also worked in finance, where I really began my blossoming relationship with web development.  I Built sites, managed sites, used a number of different technologies such as PHP and MySQL.  More recently, I took a 12-week bootcamp course covering a number of skills.  Take a look at the skills section to see what I have in my toolbelt.</p>
  					</div>
  					<div class="content" id="panel2-4">
    					<p>My Skills include:</p>
    					<div style="float: left;">
    					<ul>
    						<li>Ruby on Rails</li>
    						<li>PostgreSQL</li>
    						<li>Sinatra</li>
    						<li>MySQL</li>
    						<li>Javascript</li>
    						<li>Backbone.JS</li>
    						<li>JQuery</li>
    						<li>HTML/CSS</li>
    						<li>AJAX</li>
    						<li>Bootstrap</li>
    					</ul>
    					</div>
    					<div style="float: right; margin-left: 30px;">
    					<ul>
    						<li>Foundation</li>
    						<li>Adobe Photoshop</li>
    						<li>Adobe Illustrator</li>
    						<li>Adobe InDesign</li>
    						<li>Git</li>
    						<li>Pivotal Tracker</li>
    						<li>RSpec</li>
    						<li>Ubuntu OS</li>
    						<li>Mac OS</li>
    						<li>Window</li>
    					</ul>
  					</div>
					</div>
			</dl>
			
		</div>
	</div>
</div>
	<a name="portfolio"></a>
<div class="second" data-magellan-destination="portfolio">
	<div class="portfolioheader">
		<ul>
			<li class="portfoliolink"><span style="font-size: 30px;"> My Portfolio</span></li>
			<li class="portfoliolink"><a href="#" data-reveal-id="pfitmd">PfitMD</a></li>
			<li class="portfoliolink"><a href="#" data-reveal-id="Moolah">Moolah</a></li>
			<li class="portfoliolink"><a href="#" data-reveal-id="flickrec">Flickrec</a></li>
		</ul>
	</div>
	<div class="orbitportfolio">
		<ul data-orbit data-options="animation: slide; animation_speed: 1000; pause_on_hover: true; resume_on_mouseout: true; timer_speed: 4000;">
  		<li>
    		<a href="#" data-reveal-id="pfitmd"><img src="<%= asset_path "pfitmd.png" %>" alt="PFITMD" /></a>
    		<div class="orbit-caption">
      		Caption One.
    		</div>
  		</li>
  		<li>
    		<a href="#" data-reveal-id="Moolah"><img src="<%= asset_path "moolah.png" %>" alt="Moolah" /></a>
    		<div class="orbit-caption">
      		Caption Two.
    		</div>
  		</li>
  		<li>
    		<a href="#" data-reveal-id="flickrec"><img src="<%= asset_path "flickrec.png" %>" alt="Flickrec" /></a>
    		<div class="orbit-caption">
      		Caption Three.
    		</div>
  		</li>
		</ul>
	</div>
</div>

<!-- Modals -->
<!-- Moolah Modal -->
<div id="Moolah" class="reveal-modal" data-reveal>
	<div class="modalpopup">
  	<h2>Moolah</h2>
  	<hr />
  	<img src="<%= asset_path "moolah.png" %>" class="modalimage">
  	<div>
  		<span>Moolah is a Social Savings app whereby you and a group of your friends can save money together for a common goal, say a trip.</span>
  	
  		<ul>
  			<li style="display: inline;"><h4>Technology</h4><span>Ruby on Rails, Javascript, HTML/CSS, Postgresql</span></li>
  			<li style="display: inline;"><h4>Features</h4><span>Friending, Login with Facebook, Newsfeeds, Gamification, Achievements, Goals</span></li>
  			<li style="list-style-type: none;"><a href="http://save-moolah.herokuapp.com">Visit Site</a></li> 
  		</ul>
  	</div>
  	<a class="close-reveal-modal">&#215;</a>
	</div>
</div>

<!-- PfitMD Modal -->
<div id="pfitmd" class="reveal-modal" data-reveal>
	<div class="modalpopup">
  	<h2>PfitMD</h2>
  	<hr />
  	<img src="<%= asset_path "pfitmd.png" %>" class="modalimage">
  	<div>
  		<span>PfitMD is an app that allows professionals, such as nutritionists, personal trainers, and physicians to be able to access your fitness tracker and develop strategies to improve care/quality of service</span>
  	
  		<ul>
  			<li style="display: inline;"><h4>Technology</h4><span>Ruby on Rails, Javascript, HTML/CSS, Postgresql</span></li>
  			<li style="display: inline;"><h4>Features</h4><span>Admin access, User access, Login with personal tracker, more features to come</span></li>
  			<li style="list-style-type: none;"><span>Still in development</span></li>
  			<li style="list-style-type: none;"><a href="http://pfitmd.herokuapp.com">Visit Prototype</a></li> 
  		</ul>
  	</div>
  	<a class="close-reveal-modal">&#215;</a>
	</div>
</div>

<!-- Flickrec Modal -->
<div id="flickrec" class="reveal-modal" data-reveal>
	<div class="modalpopup">
  	<h2>Flickrec</h2>
  	<hr />
  	<img src="<%= asset_path "flickrec.png" %>" class="modalimage">
  	<div>
  		<span>Flickrec is a movie ratings app that creates a score (flickrec score) by scanning Twitter to get a sense of the publics sentiment on particular films in theaters</span>
  	
  		<ul>
  			<li style="display: inline;"><h4>Technology</h4><span>Ruby on Rails, Javascript, HTML/CSS, Postgresql, Twitter</span></li>
  			<li style="display: inline;"><h4>Features</h4><span>Observe movie title's in theater and view flickrec score.</span></li>
  			<li style="list-style-type: none;"><a href="http://floating-lake-2893.herokuapp.com/">Visit Site</a></li> 
  		</ul>
  	</div>
  	<a class="close-reveal-modal">&#215;</a>
	</div>
</div>
