<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Marcellus+SC|Overlock|Russo+One|Carrois+Gothic+SC|Sintony|Exo+2|Varela|Six+Caps|Basic|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Syncopate:700|Quicksand:700|Paytone+One|Anton|Exo|Yanone+Kaffeesatz:400,700|Montserrat:400,700|Oxygen:400,700|Play:400,700|Titillium+Web:400,900|Cuprum' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Arun Umapathy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div class="fixed">
<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <div class="socialcontainer">
      <div class="socialicon">
        <a href="http://twitter.com/arunumap"><img src="<%= asset_path "twitter.png" %>" width="29px"></a>
      </div>
       <div class="socialicon">
        <a href="http://github.com/arunumap"><img src="<%= asset_path "Githubblue.png" %>" width="29px"></a>
      </div>
      <div class="socialicon">
        <a href="http://linkedin.com/in/arunumapathy"><img src="<%= asset_path "linkedin.png" %>" width="29px"></a>
      </div>
    </div>

    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#home">Home</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="https://dl.dropboxusercontent.com/u/23639721/Arun_Umapathy_Resume.pdf">My Resume</a></li>
    </ul>
  </section>
</nav>
</div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>